
#complete-cell {
    color: rgb(0, 255, 0);
  }
  
  #complete-cell1 {
    color: rgb(0, 255, 0);}
  
  #complete-cell2 {
      color: rgb(27, 233, 27);
  }
  #complete-cell3 {
      color: rgb(0, 255, 0);
  }
  
  #complete-cell {
    color: rgb(0, 255, 0);
  }

  #complete-cell44 {
    color: rgb(0, 255, 0);
  }

  #complete-cell241 {
    color: rgb(0, 255, 0);
  }



  #uriel {
    color: rgb(0, 162, 255);
    text-decoration: underline;

  }

  #uriel1 {
    color: rgb(0, 162, 255);
    text-decoration: underline;

  }


  #uriel2 {
    color: rgb(0, 162, 255);
    text-decoration: underline;

  }


  #uriel3 {
    color: rgb(0, 162, 255);
    text-decoration: underline;

  }

  
  #uriel44 {
    color: rgb(0, 162, 255);
    text-decoration: underline;

  }

  #uriel45 {
    color: rgb(0, 162, 255);
    text-decoration: underline;
  }

  #generar-btn {
    background-color: aliceblue;
  }